{{define "main"}}

<!--Title-->
<h4>{{.Title}}</h4>
{{ $date := .Date.Format "2006-01-02" }}
{{ $lastmod := .Lastmod.Format "2006-01-02" }}
<ul>
    <li>{{ $date }} {{ if ne $lastmod $date }}</li>
    <ul>
        <li> → last update {{ .Lastmod.Format "2006-01-02" }} {{ end }}</li>
    </ul>
</ul>
<ul>
    <li> categories: {{ partial "categories.html" .}}</li>
    <li>tags: {{ partial "tags.html" .}}</li>
</ul>

<!--Content-->
{{.Content}}

<p>~</p>
<!--Prev/Next-->
{{with .PrevInSection}}<p>previous: <i><a href="{{.RelPermalink}}">{{.Title}}</a></i>{{end}} | 
{{with .NextInSection}}next: <i><a href="{{.RelPermalink}}">{{.Title}}</a></i></p>{{end}}

{{end}}
