/* Make HTML more responsive (adapted from https://github.com/mrmrs/fluidity) */
img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
  height: auto;
}

pre {
  overflow-x: auto;
}

/* Box-model fix (adapted from https://css-tricks.com/box-sizing/) */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 1.125em;
}

body {
  color: #262626;
  background-color: #f5f5f5;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 100%;
  padding: 0.4em 1em;
  font-family: monospace;
}

p {
  max-width: 60em;
  text-align: justify;
  hyphens: auto;
}

a[href],
a[href]:visited {
  color: #525252;
}

a[href]:hover {
  background-color: #ddd6fe;
}

:not(a[href]) b,
:not(a[href]) strong,
th {
  color: inherit;
}

.post-list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: none;
  border-top: #111 1px solid;
}

header {
  max-width: 100%;
  padding-bottom: 0.6em;
}

footer {
  text-align: center;
  padding-bottom: 0.6em;
}

table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  overflow-x: auto;
  font-family: inherit;
}

th,
td {
  padding-left: .5em;
  padding-right: 1em;
  text-align: left;
}

th,
thead,
tfoot {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  color: inherit;
}

figure {
  max-width: 100%;
  padding: 0em;
  margin: 0em;
}

figcaption {
  font: inherit;
  color: #333;
  font-size: 85% !important;
}

/* Prevent blowing up SVG images that are meant to be small */
*[class*="social"] svg,
*[class*="icon"] svg,
svg[class*="icon"],
img[class*="emoji"][src$=".svg"] {
  max-height: 30px;
}

*[class*="logo" i] svg,
*[id*="logo" i] svg {
  max-width: 100px;
}

/*pixelly images*/
.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #262626;
    color: #d6d3d1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a[href],
  a[href]:visited {
    color: inherit
  }

  a[href]:hover {
    color: #d6d3d1;
    background-color: #475569;
  }

  hr {
    border: none;
    border-top: #737373 1px solid;
  }

  img.pixel {
    filter: invert(1) brightness(.85);
  }

  img {
    filter: brightness(.85) contrast(.95);
  }

  figcaption {
    color: #a3a3a3;
  }
}

@media screen and (width <=50rem) {
  html {
    font-size: 1.25em;
  }

  body {
    padding: 0em 0.6em;
  }

  header {
    font-size: large;
    line-height: 1.8;
  }

}